$breakpoint: (
  sp_320: 'screen and (max-width: 320px)', // 320ピクセル以下のスマートフォン向けのスタイル
  sp_375: 'screen and (max-width: 375px)', // 375ピクセル以下のスマートフォン向けのスタイル
  sp_394: 'screen and (max-width: 394px)', // 375ピクセル以下のスマートフォン向けのスタイル
  sp_430: 'screen and (max-width: 430px)', // 430ピクセル以下のスマートフォン向けのスタイル
  sp: 'screen and (max-width: 767px)', // 767ピクセル以下のスマートフォン向けのスタイル
  tab_820: 'screen and (max-width: 820px)', // 820ピクセル以下のスマートフォン向けのスタイル
  tab: 'screen and (max-width: 1024px)' // 1024ピクセル以下のスマートフォン向けのスタイル
);


@mixin responsive_media($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
html {
  font-size: 62.5%; /* 1rem → 10px */
}
@media (max-width: 960px) {
  html {
    font-size: 50%; /* 1rem → 8px */
  }
}
body {
  font-size: 1.6rem;
  font-family: YuGothic,"Yu Gothic","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif;
  font-weight: 400;
}
main{
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none ;
}
a:hover{
  opacity: 0.6;
}
$blue-main-color: #2A65CA;
$black-main-color: #4B4B4B;
$sub-blue-main-color: #16B0EA;
$blue-opacity-main-color: #F5FCFF;

/*横幅900のひろいやつ*/
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 6.2rem;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
    padding: 0;
  }
}
/*横幅660のせまいやつ*/
.container-660 {
  width: 100%;
  margin: 0 auto;
  max-width: 66rem;
}
@media (max-width: 1000px) {
  .container-660 {
    width: 90%;
    padding: 0;
  }
}
/*横幅800のやつ*/
.container-800 {
  width: 100%;
  margin: 0 auto;
  max-width: 90rem;/*ここを変える*/
}
@media (max-width: 1000px) {
  .container-800 {
    width: 90%;
    padding: 0;
  }
}

/* 共通パーツ */
.common_header{
  font-weight: bold;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
h1{
  color: $blue-main-color;
  font-size: 3rem;
}
.section_title{
  margin: 0 auto;
  width: fit-content;
  h2{
    font-weight: bold;
    font-size: 3rem;
    color: $blue-main-color;
    letter-spacing: 0.06em;
    position: relative;
    padding-bottom: 0.7rem;
    @include responsive_media(sp){
      font-size: 2.2rem;
    }
    @include responsive_media(sp){
      font-size: 1.8rem;
    }
    &::after{
      background-color: $blue-main-color;
      bottom: 0;
      content: "";
      height: 4px;
      left: 50%;
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-100%);
      width: 50%;
    }
    &::before{
      background-color: $sub-blue-main-color;
      bottom: 0;
      content: "";
      height: 4px;
      left: 50%;
      position: absolute;
      width: 50%;
    }
  }
  p{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
p, h3, h4, b{
  color: $black-main-color;
}
/* 共通パーツ */


/* header */
.top_header{
  border-bottom: 1px solid #F1F1F1;
  font-size: 1.3rem;
  @include responsive_media(sp){
    font-size: 1rem;
  }
}
.header{
  border-bottom: 1px solid #E3E3E3;
  .header_left{
    @include responsive_media(sp){
      align-self: center;
      h1{
        font-size: 2.5rem;
        @include responsive_media(sp_320){
          font-size: 2rem;
        }
      }
    }
  }
  .header_right{
    align-self: center;
    color: white;
    background: $blue-main-color;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    @include responsive_media(sp_320){
      font-size: 1.2rem;
    }
  }
}
/* header */

// mail_visual
.mail_visual{
  background: $blue-opacity-main-color;
  position: relative;
  z-index: 0;
  padding-bottom: 6rem;
}
.top_visual{
  padding-top: 6rem;
  display: flex;
  @include responsive_media(sp){
    flex-direction: column;
    padding-top: 4rem;
  }
  .left_visual{
    width: 57%;
    @include responsive_media(sp){
      width: 100%;
    }
    h3{
      font-size: 3.7rem;
      font-weight: bold;
      margin: 4rem 0 2rem 0;
      @include responsive_media(sp_375){
        font-size: 3.6rem;
      }
      @include responsive_media(sp_320){
        font-size: 3rem;
      }
    }
    p{
      font-size: 2rem;
      font-weight: bold;
      padding-left: 2rem;
      @include responsive_media(sp_320){
        font-size: 1.7rem;
      }
    }
    .free_consultation{
      width: 30rem;
      background: $blue-main-color;
      color: white;
      padding: 1rem;
      margin: 6rem 0 3rem 9rem;
      border-radius: 4rem;
      @include responsive_media(sp){
        width: 40rem;
        margin: 5rem auto;
      }
      @include responsive_media(sp_320){
        margin: 3rem auto;
        width: 100%;
      }
    }
    .consultation_sub_msg{
      color: #fff;
      display: table;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: .05em;
      line-height: 150%;
      margin: 0 auto;
      padding: 0 18px;
      position: relative;
      &::before{
        background-image: url(../img/left_line.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 10px;
        left: 0;
        position: absolute;
        top: 6px;
        width: 10px;
      }
      &::after{
        background-image: url(../img/right_line.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 10px;
        position: absolute;
        right: 4px;
        top: 6px;
        width: 10px;
      }
      @include responsive_media(sp){
        font-size: 1.5rem;
      }
    }
    .consultation_main_msg{
      color: #fff;
      display: block;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: .05em;
      line-height: 150%;
      text-align: center;
      width: 100%;
      @include responsive_media(sp){
        font-size: 2rem;
      }
    }
  }
  .right_visual{
    width: 43%;
    @include responsive_media(sp){
      width: 85%;
      margin: 0 auto;
    }
  }
}
.under_visual{
  background: white;
  box-shadow: 2px 2px 6px 1px #c7c7c7;
  .choose_three_reason{
    padding: 5rem 14rem;
    margin-top: 6rem;
    @include responsive_media(sp){
      padding: 2rem 2.5rem;
    }
    .choose_lists{
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;
      @include responsive_media(sp){
        flex-direction: column;
      }
      .choose_lists_item{
        position: relative;
        width: calc(33.33333333% - 30px);
        @include responsive_media(sp){
          width: 100%;
          display: flex;
          margin-bottom: 4rem;
          &:last-child{
            margin-bottom: 0;
          }
          &:first-child{
            span{
              left: -4px;
              top: -0.8rem;
            }
            .choose_lists_item_img{
              width: 33%;
            }
          }
        }
        span{
          color: #1999d1;
          font-size: 3.5rem;
          font-style: normal;
          font-weight: 700;
          left: 4px;
          line-height: 5.2rem;
          position: absolute;
          top: -2.8rem;
          @include responsive_media(sp){
            left: -5px;
            top: -4rem;
          }
        }
        .choose_lists_item_img{
          margin: 0 auto;
          width: 18rem;
          height: 18rem;
          @include responsive_media(sp){
            width: 35%;
            margin-left: 0;
            height: auto;
          }
        }
        .choose_lists_item_part{
          @include responsive_media(sp){
            width: 55%;
          }
        }
        .choose_lists_item_title{
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          letter-spacing: .06em;
          line-height: 1.5;
          margin-top: 1rem;
          text-align: center;
          @include responsive_media(sp){
            font-size: 2rem;
          }
          @include responsive_media(sp_375){
            font-size: 1.8rem;
          }
        }
        .choose_lists_item_msg{
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 500;
          letter-spacing: .06em;
          line-height: 2rem;
          margin-top: 1rem;
          @include responsive_media(sp){
            font-size: 1.8rem;
          }
          @include responsive_media(sp_375){
            font-size: 1.7rem;
          }
          @include responsive_media(sp_320){
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
.circle{
  position: absolute;
  z-index: -1;
  top: 3rem;
  width: 58rem;
  height: 58rem;
  right: -6rem;
  @include responsive_media(sp){
    width: 32rem;
    height: 32rem;
    top: 11rem;
    right: -4rem;
  }
}
// mail_visual

// コミュスタ BLASTとは
.blast_about, .blast_three_features, .study_vocies, .usage_flow, .faq, .finish_msg{
  margin-top: 10rem;
  @include responsive_media(sp){
    margin-top: 8rem !important;
  }
}
.blast_about_content{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  @include responsive_media(sp){
    flex-direction: column-reverse;
  }
  .blast_about_left{
    width: 60%;
    padding-top: 5rem;
    @include responsive_media(sp){
      width: 100%;
      padding-top: 3rem;
      p{
        font-size: 2rem;
      }
    }
    p{
      line-height: 2.7rem;
    }
  }
  .blast_about_right{
    width: 35%;
    @include responsive_media(sp){
      width: 55%;
      margin: 3rem auto 0 auto;
    }
  }
}
// コミュスタ BLASTとは

// コミュスタBLASTの特徴
.blast_three_features{
  margin-top: 10rem;
}
.blast_three_feature_lists{
  margin-top: 3rem;
  background: $blue-opacity-main-color;
  border: 1px solid #E0E0E0;
  padding: 3rem 9rem;
  border-radius: 1rem;
  @include responsive_media(sp){
    padding: 2rem 2rem;
  }
}
.blast_three_feature_items_title{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: $sub-blue-main-color;
  span{
    font-size: 5rem;
  }
}
.blast_three_feature_items_sub_title{
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 0;
  @include responsive_media(sp){
    text-align: center;
    margin-top: 2rem;
    font-size: 2.3rem;
  }
  @include responsive_media(sp_375){
    font-size: 2.2rem;
  }
}
.blast_three_feature_items_msg{
  line-height: 2.5rem;
  @include responsive_media(sp){
    font-size: 2rem;
  }
}

// １つ目の特徴
.table_container {
  width: 100%;
  max-width: 80rem;
  margin: 4rem auto 0 auto;
  border-collapse: collapse;
  @include responsive_media(sp){
    font-size: 2rem;
  }
}
.table_header {
  background-color: $blue-main-color;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  @include responsive_media(sp){
    font-size: 2rem;
  }
}
.table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background: white;
  @include responsive_media(sp){
    padding: 1.5rem;
  }
}
.table_row:first-child {
  border: 1px solid #ccc;
}
.table_row:not(:first-child) {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table_row:nth-child(odd) {
  background-color: #f9f9f9;
}
.table_cell {
  flex: 1;
  text-align: left;
}
.arrow_cell {
  flex: 0;
  text-align: right;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  width: 100%;
}
.content_inner {
  padding: 2rem;
  background-color: rgb(248 248 248);
  border-top: 1px solid #ccc;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  p{
    margin: 0 0 10px 0;
    span{
      font-weight: bold;
    }
  }
  p:last-child{
    margin-bottom: 0;
  }
}
// 一つ目の特徴

// 二つ目の特徴, 三つ目の特徴
.second_features_msg, .three_features_msg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive_media(sp){
    flex-direction: column-reverse;
  }
  p{
    width: 67%;
    line-height: 3rem;
    @include responsive_media(sp){
      width: 100%;
    }
  }
  .second_features_img, .three_features_img{
    width: 20rem;
    height: 30%;
    @include responsive_media(sp){
      margin-bottom: 3rem;
    }
  }
}
// 二つ目の特徴, 三つ目の特徴
// コミュスタBLASTの特徴


// 受講生の声
.study_vocies{
  margin-top: 10rem;
}
.study_voices_lists{
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  @include responsive_media(sp){
    flex-direction: column;
    margin-top: 0;
  }
  .study_voices_item{
    border: 3px solid $blue-main-color;
    position: relative;
    padding: 4rem 3rem 2.5rem 3rem;
    width: 48%;
    margin-top: 6rem;
    @include responsive_media(sp){
      width: 100%;
    }
    span{
      position: absolute;
      color: white;
      background: $blue-main-color;
      padding: 1rem 5rem;
      font-weight: bold;
      left: 50%;
      transform: translate(-50%, -150%);
      font-size: 2.5rem;
      font-family: serif;
      @include responsive_media(tab_820){
        font-size: 2.3rem;
      }
      @include responsive_media(sp_375){
        padding: 1rem 4rem;
      }
      @include responsive_media(sp_320){
        padding: 1rem 3rem;
      }
    }
  }
}
.voice_user{
  font-weight: bold;
  font-size: 2rem;
  color: $blue-main-color;
  margin-bottom: 2rem;
}
.voice_user_message{
  line-height: 2.6rem;
}
// 受講生の声

// ご利用までの流れ
.usage_flow{
  margin-top: 10rem;
}
.usage_flow_list{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  @include responsive_media(sp){
    flex-direction: column;
  }
  .usage_flow_item{
    padding: 2.6rem 7.5rem;
    border: 3px solid $sub-blue-main-color;
    border-radius: 1rem;
    text-align: center;
    @include responsive_media(sp){
      width: 85%;
      margin: 0 auto;
      padding: 2rem;
    }
    .usage_flow_title{
      font-size: 3rem;
      font-weight: bold;
      color: $sub-blue-main-color;
      margin-bottom: 2rem;
    }
    .usage_flow_msg{
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .usage_flow_img{
      width: 10rem;
      height: 10rem;
      @include responsive_media(sp){
        margin: 0 auto;
      }
    }
  }
  .usage_flow_arrow_img{
    margin: 0 3rem;
    width: 5rem;
    align-self: center;
    @include responsive_media(sp){
      transform: rotate(90deg);
    }
  }
}
.usage_flow_support_msg{
  color: $sub-blue-main-color;
  border: 1px solid $sub-blue-main-color;
  text-align: center;
  padding: 1.5rem 5rem;
  width: 93%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  @include responsive_media(sp){
    width: 85%;
    padding: 1rem 2rem;
  }
}
// ご利用までの流れ

// よくある問い合せ
.faq{
  margin-top: 10rem;
}
.faq_lists_item{
  display: flex;
  flex-direction: column;
  .faq_common{
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    @include responsive_media(sp){
      padding: 2rem 3rem;
    }
    .faq_q_img{
      width: 5rem;
      height: 5rem;
      margin-right: 4rem;
      @include responsive_media(sp){
        width: 14%;
        margin-right: 2rem;
        height: auto;
      }
    }
  }
  .faq_question_msg{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    @include responsive_media(sp){
      font-size: 1.8rem;
      width: 86%;
    }
  }
  .faq_top{
    background: $blue-main-color;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 3rem;
  }
  .faq_under{
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid $blue-main-color;
    @include responsive_media(sp){
      .faq_q_img{
        width: 14%;
        margin-right: 2rem;
      }
    }
  }
}
.faq_answer_msg{
  width: 86%;
}
// よくある問い合せ

// 最後に
.finish_msg{
  margin-top: 10rem;
}
.finish_msg_content{
  background: $blue-opacity-main-color;
  margin-top: 3rem;
  .msg{
    padding: 6rem 0;
    line-height: 2.5rem;
    @include responsive_media(sp){
      font-size: 2rem;
    }
  }
}
// 最後に

// footer
.footer{
  background-color: $blue-main-color;
  p{
    color: white;
    padding: 2rem 0;
    text-align: center;
    @include responsive_media(sp){
      font-size: 1.4rem;
    }
  }
}
// footer

// お問い合わせフォーム
.contact_header{
  background: #16B0EA;
  text-align: center;
  padding: 6rem 0;
  h1{
    color: white;
    font-weight: bold;
  }
}

.contact_form {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;

  .form_group {
    margin-bottom: 2rem;

    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.4rem;
      @include responsive_media(sp_375){
        font-size: 1.3rem;
      }
      .required {
        color: white;
        margin-left: 0.5rem;
        font-size: 1.3rem;
        background: #f16a6a;
        padding: 0.3rem 1.5rem;
        border-radius: 6px;
        font-weight: normal;
      }
    }

    input,
    select,
    textarea {
      width: calc(100% - 10px);
      padding: 0.8rem 0.5rem;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;

      &:focus {
        outline: none;
        border-color: darken(#ccc, 10%);
      }
    }

    select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    textarea {
      resize: vertical;
    }
  }

  @include responsive_media(sp_320){
    &:last-child{
      label span{
        margin-top: 0.5rem;
        display: inline-block;
      }
    }
  }

  .submit_button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #2a65ca;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    padding: 1rem 8rem;
    border-radius: 2rem;

    &:hover {
      background-color: #bbb;
    }

    &:active {
      background-color: #999;
    }
  }
}
.pankuzu_menu{
  display: flex;
  color: #18b0ea;
  font-weight: bold;
  margin: 2rem 0px 5rem 0;
  font-size: 1.4rem;
  span{
    margin: 0 0.5rem;
  }
}
.contact_container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  @include responsive_media(sp){
    margin-bottom: 3rem;
    flex-direction: column;
  }
  .contact_left{
    width: 50%;
    height: 50%;
    padding: 4rem 5rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .15);
    border-radius: 1rem;
    margin-right: 1rem;
    @include responsive_media(sp){
      width: 100%;
      padding: 3rem;
    }
    .contact_support_msg{
      h2{
        color: #4B4B4B;
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        @include responsive_media(sp_320){
          font-size: 2rem;
        }
      }
      p{
        font-size: 1.6rem;
        letter-spacing: 0.3px;
        margin-bottom: 1rem;
      }
      &:last-child{
        font-size: 1.3rem;
      }
      .contact_content{
        margin-top: 5rem;
        padding: 3rem;
        background: #F5FCFF;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .15);
        border-radius: 1rem;
        @include responsive_media(sp){
          padding: 2rem;
        }
        h3{
          color: #2A65CA;
          font-weight: bold;
          font-size: 2rem;
          margin-bottom: 1.5rem;
          @include responsive_media(sp_320){
            font-size: 1.8rem;
          }
        }
        p{
          line-height: 2.5rem;
          font-weight: bold;
          font-size: 1.6rem;
        }
      }
    }
  }
  .contact_right{
    width: 45%;
    @include responsive_media(sp){
      width: 100%;
      margin-top: 3rem;
    }
  }
}
// お問い合わせフォーム